{"zhaopin": {"isOn": true, "user_name": "user_name", "user_password": "password"}, "liepin": {"isOn": true, "user_name": "user_name", "user_password": "password"}, "51jobs": {"isOn": true, "user_name": "user_name", "user_password": "password"}}
